# Database
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=hatch
DATABASE_USER=hatch_app
DATABASE_PASSWORD=change_me_in_production
DATABASE_ADMIN_USER=postgres
DATABASE_ADMIN_PASSWORD=postgres_admin_password

# Application
APP_PORT=3000
NODE_ENV=development
